.App {
  text-align: center;
  background-color: rgb(240, 218, 209, 0.6);
}

.App-header {
  padding: 10px 0px;
  align-items: center;
  font-size: 50px;
  color: rgb(0, 0, 0);
  font-family: "Montserrat Alternates", sans-serif;
}

footer {
  font-size: 10px;
}
