.App {
  text-align: center;
  background-color: rgb(186, 221, 224, 0.6);
}

.App-header {
  padding: 10px 0px;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

footer {
  font-size: 10px;
}
